<div class="container">
    <div class="circle c1" style="background-color: #970B0B;" [style.animation-duration]="int.value + 's'"></div>
    <div class="circle c2" style="background-color: #DF6200;" [style.animation-duration]="int.value + '9s'"></div>
    <div class="circle c3" style="background-color: #d8c200;" [style.animation-duration]="int.value + 's'"></div>
    <div class="circle c4" style="background-color: #67E178;" [style.animation-duration]="int.value + '9s'"></div>
    <div class="circle c5" style="background-color: #52FFF7;" [style.animation-duration]="int.value + 's'"></div>
    <div class="circle c6" style="background-color: #001B76;" [style.animation-duration]="int.value + '9s'"></div>
    <div class="circle c7" style="background-color: #8400CA;" [style.animation-duration]="int.value + 's'"></div>

  <div class="options ">
    <div>
      <button (click)="turnOn()">ON</button>
      <button (click)="turnOff()">OFF</button>
    </div>

    <div class="intDiv">
      <input type="range" id="intensity" #int value="0.5" min="0.2" max="0.9" step="0.1">
      <p>+ Intensity -</p>
    </div>

    <button (click)="turnOn()" id="apply">APPLY</button>



  </div>


</div>
