
  $first-color: #970B0B;
  $second-color: #DF6200;
  $third-color: #d8c200;
  $fourth-color: #67E178;
  $fifth-color: #52FFF7;
  $sixth-color: #001B76;
  $seventh-color: #8400CA;

  $first-shadow: #e60e0e;
  $second-shadow: #ff6600;
  $third-shadow: #fdec00;
  $fourth-shadow: #3cff00;
  $fifth-shadow: #00b1dd;
  $sixth-shadow: #150074;
  $seventh-shadow: #c300ff;

